body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:42px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:737px;
  height:42px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1245px;
  height:275px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:74px;
  width:1245px;
  height:275px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:1241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:318px;
  width:485px;
  height:31px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2762_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:55px;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:351px;
  width:5px;
  height:40px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:389px;
  width:126px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:309px;
  width:184px;
  height:47px;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:47px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:359px;
  width:5px;
  height:32px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:391px;
  width:94px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
