body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:786px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:17px;
  width:414px;
  height:786px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:385px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:58px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:19px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:21px;
  width:411px;
  height:19px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:56px;
  width:25px;
  height:25px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:2px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:87px;
  width:397px;
  height:1px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:2px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:185px;
  width:397px;
  height:1px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:159px;
  width:71px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:242px;
  width:75px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:75px;
  word-wrap:break-word;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#5E9DFA;
  text-align:center;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:196px;
  width:76px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#5E9DFA;
  text-align:center;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:278px;
  width:137px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:137px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:750px;
  width:140px;
  height:40px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:159px;
  width:25px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(94, 157, 250, 0.0588235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 157, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#5E9DFA;
  text-align:center;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:278px;
  width:91px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#5E9DFA;
  text-align:center;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:278px;
  width:91px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:328px;
  width:133px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:472px;
  width:133px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.266666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:91px;
  width:397px;
  height:25px;
  font-size:12px;
  color:#FF0000;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:393px;
  word-wrap:break-word;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#5E9DFA;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:198px;
  width:6px;
  height:9px;
  font-size:9px;
  color:#5E9DFA;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:126px;
  width:155px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:750px;
  width:140px;
  height:40px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:364px;
  width:104px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  word-wrap:break-word;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:364px;
  width:81px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:400px;
  width:133px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:436px;
  width:166px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  word-wrap:break-word;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:436px;
  width:137px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:137px;
  word-wrap:break-word;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:501px;
  width:124px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u1033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:501px;
  width:110px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u1035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:501px;
  width:110px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:537px;
  width:110px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:537px;
  width:110px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:537px;
  width:110px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
