body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1736_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:80px;
  height:22px;
}
#u1736p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:72px;
  height:2px;
}
#u1736p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:74px;
  height:4px;
}
#u1736p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u1736p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1736p002 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1736p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1736.compound {
  width:0px;
  height:0px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:131px;
  width:69px;
  height:2px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#0099FF;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:125px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#0099FF;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:1174px;
  height:58px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:113px;
  width:168px;
  height:24px;
  font-size:20px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u1744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:101px;
  width:47px;
  height:47px;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u1746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:111px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:523px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:249px;
  width:456px;
  height:523px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:314px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:314px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1754_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:55px;
  height:5px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:346px;
  width:52px;
  height:2px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:366px;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:407px;
  width:1px;
  height:365px;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:346px;
  width:420px;
  height:137px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:416px;
  word-wrap:break-word;
}
#u1760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:55px;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:407px;
  width:551px;
  height:55px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:139px;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:840px;
  width:262px;
  height:139px;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:417px;
  width:82px;
  height:37px;
  color:#999999;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:259px;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:478px;
  width:391px;
  height:259px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:778px;
  width:93px;
  height:22px;
}
#u1768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1768_input:disabled {
  color:grayText;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:778px;
  width:93px;
  height:22px;
}
#u1769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1769_input:disabled {
  color:grayText;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:778px;
  width:93px;
  height:22px;
}
#u1770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1770_input:disabled {
  color:grayText;
}
#u1771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#DCDFE1;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:741px;
  width:113px;
  height:16px;
  color:#DCDFE1;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:734px;
  width:369px;
  height:1px;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
