body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:1000px;
  height:44px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:15px;
  width:111px;
  height:35px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:64px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:96px;
  width:245px;
  height:19px;
  font-size:16px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:125px;
  width:331px;
  height:19px;
  font-size:16px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:154px;
  width:245px;
  height:19px;
  font-size:16px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:183px;
  width:1000px;
  height:1px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:208px;
  width:918px;
  height:285px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1151px;
  height:140px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:637px;
  width:1151px;
  height:140px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:1147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:100px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:520px;
  width:222px;
  height:100px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:709px;
  width:164px;
  height:24px;
  text-align:left;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:160px;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:53px;
  width:778px;
  height:62px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:774px;
  word-wrap:break-word;
}
